 <div ng-controller="homeController as hc" class="container">
        <div class="row text-center">
            <h1>Choose your club!</h1>
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
                <button ng-click="hc.setTeam('Chelsea')" ui-sref="lineup" class="btn club-button"><img src="images/chelsea.png"></button>
                <button ng-click="hc.setTeam('Everton')" ui-sref="lineup" class="btn club-button"><img src="images/everton.png"></button>
                <button ng-click="hc.setTeam('Bournemouth')" ui-sref="lineup" class="btn club-button"><img src="images/bourne.png"></button>
                <button ng-click="hc.setTeam('Burnley')" ui-sref="lineup" class="btn club-button"><img src="images/burnley.png"></button>
            </div>
            <div class="col-xs-2">
                <button ng-click="hc.setTeam('Arsenal')" ui-sref="lineup" class="btn club-button"> <img src="images/arsenal.png"></button>
                <button ng-click="hc.setTeam('Tottenham')" ui-sref="lineup" class="btn club-button"><img src="images/spurs.png"></button>
                <button ng-click="hc.setTeam('Crystal Palace')" ui-sref="lineup" class="btn club-button"> <img src="images/crystalP.png"></button>
                <button ng-click="hc.setTeam('Hull')" ui-sref="lineup" class="btn club-button"><img src="images/hull.png"></button>
            </div>
            <div class="col-xs-2">
                <button ng-click="hc.setTeam('Liverpool')" ui-sref="lineup" class="btn club-button"><img src="images/liverpool.png"></button>
                <button ng-click="hc.setTeam('Southampton')" ui-sref="lineup" class="btn club-button"><img src="images/south.png"></button>
                <button ng-click="hc.setTeam('Swansea')" ui-sref="lineup" class="btn club-button"><img src="images/swansea.png"></button>
                <button ng-click="hc.setTeam('West Brom')" ui-sref="lineup" class="btn club-button"><img src="images/wbrom.png"></button>
            </div>
            <div class="col-xs-2">
                <button ng-click="hc.setTeam('Manchester United')" ui-sref="lineup" class="btn club-button"><img src="images/united.png"></button>
                <button ng-click="hc.setTeam('West Ham')" ui-sref="lineup" class="btn club-button"><img src="images/wham.png"></button>
                <button ng-click="hc.setTeam('Stoke')" ui-sref="lineup" class="btn club-button"><img src="images/stoke.png"></button>
                <button ng-click="hc.setTeam('Watford')" ui-sref="lineup" class="btn club-button"><img src="images/watford.png"></button>
            </div>
            <div class="col-xs-2">
                <button ng-click="hc.setTeam('Manchester City')" ui-sref="lineup" class="btn club-button"><img src="images/city.png"></button>
                <button ng-click="hc.setTeam('Leicester')" ui-sref="lineup" class="btn club-button"><img src="images/leicester.png"></button>
                <button ng-click="hc.setTeam('Middlesborough')" ui-sref="lineup" class="btn club-button"><img src="images/boro.png"></button>
                <button ng-click="hc.setTeam('Sunderland')" ui-sref="lineup" class="btn club-button"><img src="images/sun.png"></button>
            </div>
            <div class="col-xs-1"></div>
        </div>
    </div>